<nav>
    <ul>
        <li><a href="/" class="<%= activePage === 'Shop' ? 'nav-active' : '' %>">Shop</a></li>
        <li><a href="/products" class="<%= activePage === 'Products' ? 'nav-active' : '' %>">Products</a></li>

        <% if(isAuthenticated === true) { %>
            <li><a href="/cart" class="<%= activePage === 'Cart' ? 'nav-active' : '' %>">Cart</a></li>
            <li><a href="/orders" class="<%= activePage === 'Orders' ? 'nav-active' : ''%>">Orders</a></li>
        <% } %>

        <% if(isAuthenticated === true && isAdminUser === true) { %>
            <li><a href="/admin/add-product" class="<%= activePage === 'Add Product' ? 'nav-active' : '' %>">Add Product</a></li>
            <li><a href="/admin/products" class="<%= activePage === 'Admin Products' ? 'nav-active' : '' %>">List Products</a></li>
        <% } %>
    </ul>

    <ul>
        <% if(isAuthenticated === false) { %>
            <li><a href="/login" class="<%= activePage === 'Login' ? 'nav-active' : '' %>">Login</a></li>
            <li><a href="/signup" class="<%= activePage === 'Signup' ? 'nav-active' : '' %>">Signup</a></li>
        <% } else { %>
            <li><a href="#"><%= loggedInUsername %></a></li>
            <li>
                <form action="/logout" method="POST">
                    <input type="text" name="_csrf" value="<%= csrfToken %>" class="hidden">
                    <button type="submit" id="logout">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>
