<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headers') %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container product-detail">
        <div>
            <h1 class="product-title"><%= product.title %></h1>
            <h4 class="product-amount">$<%= product.amount %></h4>
            <p class="product-description"><%= product.description %></p>
        
            <form action="/post-cart/<%= product.id %>?currentPage=productDetail" method="POST">
                <button type="submit">Add to Cart</button>
            </form>
        </div>

        <img src="<%= product.picture %>" alt="<%= product.title %>" class="product-image">
    </div>
</body>
</html>