<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headers') %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container product-detail">
        <div>
            <h1 class="product-title"><%= product.title %></h1>
            <h4 class="product-amount">$<%= product.amount %></h4>
            <p class="product-description"><%= product.description %></p>
        
            <form action="/post-cart/<%= product._id %>?currentPage=productDetail" method="POST">
                <div class="product-instances-in-cart">
                    <% if(isAuthenticated === true) { %>
                        <p><i><%= quantity %> units of this item in cart</i></p>
                    <% } else { %>
                        <p><i>You need to be logged in to access Cart</i></p>
                    <% } %>
                </div>

                <% if(isAuthenticated === true) { %>
                    <% if(quantity === 0) { %>
                        <div class="controls">
                            <button type="submit" name="action" value="add">Add to Cart</button>
                        </div>
                    <% } else { %>
                        <div class="controls">
                            <button type="submit" name="action" value="add">Add 1 more unit</button>
                            <button type="submit" name="action" value="delete">Remove 1 unit</button>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="controls">
                        <button type="submit" name="action" value="add" disabled>Add to Cart</button>
                    </div>
                <% } %>
            </form>
        </div>

        <img src="<%= product.picture %>" alt="<%= product.title %>" class="product-image">
    </div>
</body>
</html>